@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';


#navbarNav {
  position: absolute;
  right: 45px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Reem Kufi', sans-serif;
  li { margin: 0px 10px; font-size: 19px; }
}
